
button{
    align-items: right;
    color: brown;
    background-color: rgb(225, 225, 228);
    border-radius: 20px;
    box-shadow: 5px 6px 0px rgb(23, 70, 33) ;
    background-color: aquamarine;
    border: none;
    padding: 10px 40px;
    text-shadow: 3px 0px 10px rgb(9, 22, 9);
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: bisque;
}

menu{
    align-items: center;
    text-align: center;
}
{
    font-family: 'Courier New', Courier, monospace;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow:  3px 0px 10px rgb(9, 22, 9) ;
    text-align: center;
    font-size: 200%;
}
h2{
    color: cadetblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow:  5px 0px 0px rgb(9, 22, 9);
    font-size: 400%;
}
.info{

    font-family: 'Courier New', Courier, monospace;
    font-size: 130%;
}


img{
 height: 15%;
 width: 15%;
 padding: auto;
 border-radius: 30px;
 display: block;
  margin: 0 auto;
}

div{
    background-color: rgb(177, 255, 131);
   text-align: center;
    border-style:outset;
    border-radius: 3cm;
}

.relleno{
    background-color: rgba(61, 104, 112, 0.397);
    border-radius: 0.5cm;
    padding: 3 cm;
    overflow: auto;
}
#footer{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    color: rgb(12, 53, 56);
 
}
button:hover{
    background-color: azure;
}

